.about-container{
    display: flex;
    height: 500px;
    width: 100%;  
}

.profile-picture-container {
    /* border: black 1px solid; */
    height: 500px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.profile-picture-container img {
    height: 450px;
    border-radius: 15px;

}

.overview-copy-container {
    /* border: black 1px solid; */
    height: 500px;
    width: 50%;
}

.overview-headline {
    margin-top: 20px;
}

.overview-body {
    margin-top: 16px;
    width: 525px;
    font-size: 15px;
}