.mern-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    height: 350px;
    width: 100%; 
    margin-top: 50px;
}


.mern-header {
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    border-left: none;
    border-right: none;
    height: 50px;
    width: 700px;
    text-align: center;
}

.mern-body {
    /* border: black solid 1px; */
    height: 1000px;
    width: 1000px;
    margin: 10px; 
    /* background-color: grey; */
   margin-top: 50px;
   display: flex;
}


.mern-card-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 10px;
}

.mern-card-image:hover img {
    opacity: 0;
}

.mern-card-image:hover .mern-card-description {
    opacity: 1;
}